<% provide(:title, 'My TODO lists') %>
<h1>TODO LISTS</h1>
<body>

<div id="projects">
  <%= render @projects %>
</div>
<div class="center hero-unit">


 <%= form_for(Project.new,remote: true) do |f| %>
   <%= f.submit "Add TODO list", class: "btn btn-large btn-primary" %>
 <% end %>
</div>
</body>